@import "fonts.css";

body {
    margin: 0;
    background: #E5E5E5;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    /*background: #FFFFFF;*/
    max-width: 1440px;
    margin: 0 auto;

}

.clear-fix {
    padding: 0 80px 10px 80px;
}
.text-decoration{
    color: #3278C3;
}
header {
    background: #FFFFFF;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
}

.header-content {
    min-height: 60px;
    padding: 0 80px;
    display: flex;
    flex-wrap: wrap;

}

.logo {
    width: 200px;
    height: 55px;
    overflow: hidden;
}

.logo img {
    width: 200px;
    height: 200px;
    margin: -70px 0 0 -15px;
}

.search {
    margin: auto 60px auto auto;
    position: relative;

}

.search i {
    line-height: 40px;
    position: absolute;
    margin: auto;
    right: 15px;
    color: #3278C3;
}

.search input {
    background: #FFFFFF;
    border: 1px solid #DADCE0;
    box-sizing: border-box;
    border-radius: 30px;
    /*box-shadow: 2px 2px 3px #666;*/
    height: 40px;
    width: 400px;
    padding: 20px;
    font-size: 16px;
    outline: none;
    /*-webkit-appearance: none;*/
}

.search input:focus {
    border-color: #3278C3;
    box-shadow: 2px 2px 3px #666;

}
.header-content .btn {
    margin: auto 0;
    font-family: Mulish, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #3278C3;
    background: none;
    border: none;
    outline: none;

}

.film-banner {
    display: flex;
    background: #E2EEFF;
}

.film-poster {
    width: 30%;
    max-height: 300px;
}

.film-detail {
    padding: 10px 20px;
    background: #151d25;
}

.film-detail p {
    margin-bottom: 0;
    margin-top: 5px;

}
.film-content{
    color: white;
    font-family: AovelSansRounded, serif;
}
.info-title {
    margin: 0;
    color: white;
    font-family: "Abyssinica SIL", serif;
}
.film-rating .checked{
    color: orange;
}

.player {
    background: #E2EEFF;
}

.player-container {
    width: 100%;
    height: auto;
}

iframe {
    width: 100%;
    height: 600px;
    border: 0;
}

.comments-section {
    background: #E2EEFF;

}

.comment-list {
    border: #c8d0d9 solid 1px;
    padding-left: 0px;
    display: flex;
    flex-direction: column-reverse;
}

.comments-section .title {
    color: #3278C3;
    font-weight: bold;
    font-size: 20px;
}

.comment {
    display: flex;
    background: white;
    margin-bottom: 2px;
}

.comment .avatar {
    width: 100px;
    height: 100px;
    /*height: 100%;*/
}

.comment-detail {
    padding: 10px;
}

.comment-detail .create-at {
    margin-bottom: 0;
    color: #3278C3;
}

.comment-detail .user-name {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: "Abyssinica SIL", serif;
    color: #3278C3;
}

.comment-content {
    line-height: 30px;
    font-family: AovelSansRounded, serif;
}

.btn {
    background: #FF7F0E;
    border: #FF7F0E 0 solid;
    border-radius: 5px;
    font-family: AovelSansRounded, Mulish, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 170%;
    outline: 0;
    /* or 27px */
    color: #FFFFFF;
}

.btn-comment {
    width: 150px;
    height: 50px;

}

.btn-comment:hover {
    color: black;
}

.comment-input {
    margin-bottom: 10px;
    font-size: 15px;
    width: 100%;
    height: 50px;
    outline: #3278C3 solid 0.5px;
}

footer {
    /*height: 378px;*/
    background: #FFFFFF;

}

footer .contact {
    min-height: 288px;
    border-bottom: 1px solid #B8B8B8;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0;
    box-sizing: border-box;
}

footer .contact .social {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: center;
    /*width: 30%;*/
    padding: 0;
    font-size: 19px;
    margin: 0;
    /*margin: 0 auto;*/
    /*margin: auto;*/
}

.social-item {
    list-style: none;
    margin: 0 1%;
    text-align: center;
    /*background: green;*/
}

.social-item i {
    font-size: 25px;
}

footer .contact .nav {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.nav li {
    margin: 0 1%;
    text-align: center;
}

footer .contact .nav a {
    text-decoration: none;
!important;
    color: #6C6C6C;

}

footer .contact .logo-footer {
    height: 50px;
    text-align: center;
    overflow: hidden;
}

footer .contact .logo-footer img {
    width: 200px;
    height: 200px;
    margin: -70px 0 0 0;
}

.copy-right {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.copy-right p {
    /*text-align: center;*/
    font-family: Mulish, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin: 0;
    color: #B5B5B5;
}
