@font-face {
    font-family: 'Debrosee-ALPnL';
    src: url('../fonts/Debrosee-ALPnL.ttf') format('truetype');
}
@font-face {
    font-family: 'AovelSansRounded';
    src: url('../fonts/AovelSansRounded-rdDL.ttf') format('truetype');
}
